google-genai==1.31.0

chromadb==1.0.20

langchain==0.3.27
langchain-core==0.3.75
langchain-community==0.3.29

streamlit==1.49.1

pandas==2.3.2
numpy==2.3.2

python-dotenv==1.1.1

pydantic==2.11.7

tqdm==4.67.1